In [3]:
n=5
for i in range(n):
    for j in range(i+1):
        print("1",end=" ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [9]:
n=5
#p=1
for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
        #p+=1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
n=5
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p+=1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
n=5
p=5
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p-=1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [15]:
n=5
for i in range(n):
    for j in range(i+1):
        if (i%2==0):
            print("1",end=" ")
        else:
            print("2",end=" ")
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [23]:
n=5
for i in range(n):
    for j in range(i,n):
        if (i%2==0):
            print("1",end=" ")
        else:
            print("2",end=" ")
    print()

1 1 1 1 1
2 2 2 2
1 1 1
2 2
1

In [32]:
n=5
p=1
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print(p,end=" ")
    for j in range(i):
        print(p,end=" ")
    p+=1
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
    for j in range(i,n-1):
        print(p,end=" ")
    p+=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [34]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [38]:
n=5
for i in range(n):
    p=1
    for j in range(i,n):
        print(p,end=" ")
        p+=1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [39]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    p=1
    for j in range(i,n):
        print(p,end=" ")
        p+=1
    print()
    
               1
             1 2 3
          1 2  3 4 5
      1 2 3 4 5 6 7
   1 2 3 4 5 6 7 8 9

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [47]:
n=5
for i in range(n):
    p=1
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    for j in range(i):
        print("*",end=" ")
        p+=1
    print()

          1
        1 2 *
      1 2 3 * *
    1 2 3 4 * * *
  1 2 3 4 5 * * * *

In [48]:
n=5
for i in range(n):
    p=1
    for j in range(i):
        print(p,end=" ")
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4

In [49]:
n=5
for i in range(n):
    print(i)

0
1
2
3
4